body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-image: url("../images/bg.png"); }

body::selection {
  background: red; }

p {
  margin: 5px; }

nav {
  position: relative;
  width: 100%;
  top: 30px;
  font-size: 3.5em;
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.001); }
  nav a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease; }
  nav .fa:hover {
    opacity: 0.5; }
  nav a:hover {
    color: red; }

.container {
  position: relative;
  top: 0px;
  margin: 10%;
  background-color: white;
  border: 5px black double;
  box-shadow: -19px 21px 0px 0px black; }

.intro {
  width: 100%;
  text-align: center; }
  .intro a {
    color: black;
    text-decoration: none; }
  .intro h1 {
    font-family: 'Fascinate Inline', cursive;
    opacity: 0.9;
    margin: 20%;
    font-size: 3em;
    border-top: 5px solid double; }
  .intro a:hover {
    opacity: 0.5; }

.viewWrap {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 15px;
  border: 6px black solid; }
  .viewWrap h2 {
    text-align: center; }

.itemWrap {
  display: inline-block;
  width: 275px;
  height: 340px;
  margin-left: 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  text-align: center; }
  .itemWrap img {
    margin-left: 15px; }

.itemWrap:hover {
  box-shadow: 6px 5px 0px 7px red; }

.admin {
  background-color: rgba(200, 200, 200, 0.5); }

.reviews {
  border: 1px black solid;
  margin: 10px;
  padding: 5px; }
