<a href="#/store">>>Back to store.</a>

<h2>Shopping Cart</h2>
<article ng-repeat="cart in carts">
    <div class="cartWrap">

        <shoppingcart title="{{cart.title}}" image="{{cart.image}}" price="{{cart.price}}" quantity="{{cart.quantity}}"></shoppingcart>

    <form ng-submit="updateCart(cart)">
    <p> Qty: <select value="{{cart.quantity}}" ng-model="cart.quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select> <button type="submit">Update</button> </p>
    </form>


        <p>Subtotal: {{(cart.price * cart.quantity) | currency}}</p>
        <button ng-click="deleteCart(cart._id)">Remove</button>
    </form>
    </div>
</article>
<hr>

  <h2>TOTAL: {{cartTotal | currency}}</h2>
