<a href="#/store">>>Back to store.</a>

<article>
    <h2>{{singleItem.title}}</h2>
    <p><img ng-src="{{singleItem.image}}"</p>
    <p>{{singleItem.price | currency}}</p>
    <p>{{singleItem.content}}</p>
    <button ng-click="addToCart();">Add to Cart</button>

<p><a href="" ng-click="hey=!hey">ADD REVIEW</a></p>

    <form action="" ng-show="hey" ng-submit=addReview(review)>
      <p><input type="text" placeholder="Name" ng-model="review.name"></p>
      <p><textarea name="" id="" cols="30" rows="10" ng-model="review.content" placeholder="Your review"></textarea></p>
      <p><button ng-click="hey=!hey">SUBMIT</button></p>
    </form>

    <div class="reviews" ng-show="singleItem.reviews.length">
      <section ng-repeat="review in singleItem.reviews">
        <h3>{{review.name}}</h3>
        <p>{{review.date | date: "medium"}}</p>
        <p>{{review.content}}</p>
      </section>
    </div>

</article>
