<div class="viewWrap">
<h2>Products</h2>
<p><a href="#/prodLocal/new">Add new product</a></p>
<article ng-repeat="prod in prods">
    <div class="listWrap">
    <h3>{{prod.title}} </h3>
    <p><a href="#/prodLocal/{{$index}}/edit">Edit</a> | <a href="" ng-click="deleteProd($index)">Delete</a></p>
    <p><a href="#/prodLocal/{{$index}}"><img src="{{prod.image}}" width="200" height="175"></a></p>
    <p>{{prod.price}}</p>
    <p> Qty:
        <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
        </select>
        Size:
        <select>
    <option>7</option>
    <option>7.5</option>
    <option>8</option>
    <option>8.5</option>
    <option>9</option>
    <option>9.5</option>
    <option>10</option>
    <option>10.5</option>
    <option>11</option>
        </select>
    </p>

</article>
</div>
</div>
